{% extends 'main_app/components/base.html' %}
{% load static %}
{% block content %}

    <header style='text-align: center;'>
        <h1>About</h1>
    </header>

    <div class="header" style="text-align: center;">
        <p>GiveAndGet is a web application for buying, selling, or trading anything you want.</p>
        <br>
        <br>
    </div>

    <div class="text" style="text-align: center;">
        <p>Our web application is aimed at users who have items that they are no longer using but don't want to throw them away as trash. They can sell or exchange them for something else they need.</p>
        <p>This way, a user can buy or trade an item that is no longer available, such as limited items.
        <br>
        <br>
        <br>
        </p>

    <div class="team-text" style="text-align: center;">
        <h3>Our Team</h3>
        <p>Wongsathorn Derochanawong 6510615278</p>
        <p>Phuritat Lertkitpaisarn 6610685049</p>
        <p>Chatchai Seekram 6610685064</p>
        <p>Chitipat Takdumrongkul 6610685130</p>
        <p>Thanabodee Suddaen 6610685163</p>
    </div>
   
    <div class="about-footer">
        <div class="about-footerContainer">
            <div class="socialIcons">
              <a href="https://trello.com/b/3iOxyUke/giveandget"><i class="fa-brands fa-trello"></i></a>
              <a href="https://drive.google.com/file/d/1LZlmM6vGSMkpzHwmsox6Volm-2wfZ2UV/view"><i class="fa fa-file-text"></i></a>
              <a href="https://github.com/Miyorina378/GiveAndGet"><i class="fa-brands fa-github"></i></a>
            </div>
    </div>
{% endblock %} 