{% extends 'main_app/components/base.html' %}
{% load static %}
{%block site_title %} Give & Get | About {% endblock %}
{% block content %}

<header class="about-header py-5">
    <div class="container">
        <h1>About us</h1>
        <img src="{% static 'main_app/images/Final_report_2.png' %}" alt="Logo" class="logo-image me-2">
    </div>
</header>


<section class="about-section py-5">
    <div class="container text-center">
        <p class="lead">GiveAndGet is a web application for buying, selling, or trading anything you want.</p>
        <p class="second_text">
            Our web application is aimed at users who have items that they are no longer using but don't want to throw
            them away as trash. They can sell or exchange them for something else they need.
        </p>
        <p class="finally_text">
            This way, a user can buy or trade an item that is no longer available, such as limited items.
        </p>
    </div>
</section>

<section class="team-section py-5 bg-light">
    <div class="container">
        <h3 class="text-center mb-4">Our Team</h3>
        <div class="row">
            <div class="col-md-4 mb-3">
                <p class="text-center">Wongsathorn Derochanawong <br> 6510615278</p>
            </div>
            <div class="col-md-4 mb-3">
                <p class="text-center">Phuritat Lertkitpaisarn <br> 6610685049</p>
            </div>
            <div class="col-md-4 mb-3">
                <p class="text-center">Chatchai Seekram <br> 6610685064</p>
            </div>
            <div class="col-md-4 mb-3">
                <p class="text-center">Chitipat Takdumrongkul <br> 6610685130</p>
            </div>
            <div class="col-md-4 mb-3">
                <p class="text-center">Thanabodee Suddaen <br> 6610685163</p>
            </div>
        </div>
    </div>
</section>

<footer class="py-4 bg-dark text-white text-center">
    <div class="container">
        <div class="social-icons d-flex justify-content-center">
            <a href="https://trello.com/b/3iOxyUke/giveandget" class="btn btn-outline-light btn-sm mx-2">
                <i class="fa-brands fa-trello"></i>
            </a>
            <a href="https://drive.google.com/file/d/1LZlmM6vGSMkpzHwmsox6Volm-2wfZ2UV/view"
                class="btn btn-outline-light btn-sm mx-2">
                <i class="fa fa-file-text"></i>
            </a>
            <a href="https://github.com/Miyorina378/GiveAndGet" class="btn btn-outline-light btn-sm mx-2">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</footer>
</body>

</html>
{% endblock %}