{% extends 'main_app/components/base.html' %}
{% load static %}

{% block content %}
<header>
    <div class="header-container">
        <h1>Products</h1>
        <div class="filter">
            <button type="submit">Sort by</button>
            <button type="submit">Categories</button>
            <button type="submit">Search</button>
        </div>
    </div>
</header>
  <div class="dummy-products">
    <div class="dummy-products">
        <div class="products-card">
          <img src="{% static 'main_app/images/HarryPotter.webp' %}" alt="Product 1">
          <h2>แฮร์รี่ พอตเตอร์กับศิลาอาถรรพ์</h2>
          <p>Price: $20.00 | Exchange: Red Lava</p>
        </div>
        <div class="products-card">
          <img src="{% static 'main_app/images/The Monsters Exciting Macarons.webp' %}" alt="Product 2">
          <h2>ลาบูบู้</h2>
          <p>Price: $40.00 | Exchange: Red Lava</p>
        </div>
      </div>
      
  </div>
  
{% endblock %}