html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a button {
    position: absolute;
    top: 10px; /* Distance from the top */
    left: 30px; /* Distance from the left */
    padding: 10px 20px;
    width: auto; /* Let the width be determined by the content */
    background-color: #333; /* Dark background for button */
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block; /* Make it inline so it doesn't stretch */
}

a button:hover {
    background-color: #555; /* Hover effect */
}


.login-body {
    background-color: rgb(24, 23, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.login-box {
    background-color: rgb(187, 235, 187);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    text-align: left;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}

button:hover {
    background-color: #555; 
}
