{% extends 'main_app/components/base.html' %}
{% block content %}
<h1 style="color:black;">Chat Room</h1>

<!-- Display search form and search results -->
<form method="get" action="{% url 'chat_room' user_id=user_to_chat.id %}">
    {{ search_form.as_p }}
    <button type="submit">Search</button>
</form>

{% if search_results %}
    <h2 style="color:black;">Search Results:</h2>
    <ul>
        {% for user in search_results %}
            <li style="color:black;">
                <a href="{% url 'chat_room' user_id=user.id %}">{{ user.username }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Display chat messages -->
{% if messages %}
    <h2 style="color:black;" >Chat with {{ user_to_chat.username }}</h2>
    <ul style="color:black;">
        {% for message in messages %}
            <li><strong>{{ message.sender.username }}:</strong> {{ message.message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Display form to send a message -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>

{% endblock %}



