
body {
    background-color: rgb(24, 23, 23); 
    color: aliceblue; 
}

/* Navbar*/
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}

.navbar_link {
    margin-right: 20px; 
    text-decoration: none;
    color: #fff; /* White links */
}

/* Navbar Right (Button) Styles */
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar_link:hover {
    color: #00bfff; /* Change text color to light blue */
}

button {
    padding: 10px 20px;
    background-color: #333; /* Dark background for button */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555; /* Hover effect */
}

/* Header Styles */
header {
    padding: 5px 20px;
    margin: 20px;
}

/* Header Container for Products and Filters */
.header-container {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

/* Filter Buttons Styles */
.filter {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.filter button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.filter button:hover {
    background-color: #555;
}

