
body {
    background-color: rgb(24, 23, 23); 
    color: aliceblue; 
}

/* Navbar*/
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
}

.navbar_link {
    margin-right: 20px; 
    text-decoration: none;
    color: #fff; /* White links */
}

/* Navbar Right (Button) Styles */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 5px;
}


.navbar_link:hover {
    color: #00bfff;
}

button {
    padding: 10px 20px;
    background-color: #333; /* Dark background for button */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555; /* Hover effect */
}

/* Header Styles */
header {
    padding: 5px 20px;
    margin: 20px;
}

/* Header Container for Products and Filters */
.header-container {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dummy-products {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.products-card {
    background-color: rgb(65, 59, 59);
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    text-align: center;
}

.products-card img {
    display: block;
    margin: 0 auto; /* Horizontally center the image */
    width: 256px;
    height: 256px;
}

.products-card h2, .products-card p {
    margin: 10px 0;
}

/* About */
/* General page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header section */
header {
    text-align: center;
    margin-top: 50px;
}

/* General text container */
.header, .text, .team-text {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling for each section */
.header p, .text p, .team-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/* Styling for the 'Our Team' section */
.team-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.team-text p {
    font-size: 16px;
    color: #555;
}

.team-text {
    margin-top: 30px;
}







