{% extends 'main_app/components/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'products/add_product.css' %}">

<div class="container mt-5">
    {% if is_edit %}
    <h1 class="form-title">Edit Product</h1>
    {% else %}
    <h1 class="form-title">Add Product</h1>
    {% endif %}

    <div class="mb-3">
        <button class="back-button" onclick="goBack()">Back</button>
    </div>
        <!-- Display messages if any -->
    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="add-product-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">
            {% if is_edit %}Save Changes{% else %}Add Product{% endif %}
        </button>
    </form>
</div>

<script>
    function goBack() {
        window.history.back(); // กลับไปหน้าก่อนหน้า
    }
</script>
{% endblock %}
