{% extends 'main_app/components/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'products/add_product.css' %}">

<div class="container mt-5">
    <h1 class="form-title">Add Product</h1>

    <div class="mb-3">
        <button class="back-button" onclick="goBack()">Back</button>
    </div>

    <form method="post" enctype="multipart/form-data" class="add-product-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Add Product</button>
    </form>
</div>

<script>
    function goBack() {
        window.history.back(); // กลับไปหน้าก่อนหน้า
    }
</script>
{% endblock %}