{% extends 'main_app/components/base.html' %}
{% load static %}
{% block content %}
    <script>
        function goBack() {
            window.history.back(); // กลับไปหน้าก่อนหน้า
        }
    </script>
</head>
<body>
    <h1>Add Product</h1>

    <!-- ปุ่มย้อนกลับ -->
    <button onclick="goBack()">Back</button>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Product</button>
    </form>

{% endblock %}
