{% extends 'main_app/components/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'products/product_detail.css' %}">

<script>
    function goBack() {
        window.history.back(); // กลับไปหน้าก่อนหน้า
    }
</script>


<div class="product-detail-container container">
    <button class="back-button btn btn-secondary mb-4" onclick="goBack()">Back</button>
    <h1 class="product-title">{{ product.name }}</h1>

    <div class="container mt-5">
        <div class="row">
            <!-- Product Image Section -->
            <div class="product-image col-md-6 text-center">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image img-fluid rounded">
            </div>
            <!-- Product Details Section -->
            <div class="product-details-section col-md-6">
                <div class="product-card card p-3">
                    <h3 class="product-card-title">Product Details</h3>
                    <p class="product-info"><strong>Description:</strong> {{ product.description }}</p>
                    <p class="product-info"><strong>Price:</strong> {{ product.price }}</p>
                    <p class="product-info"><strong>Stock:</strong> {{ product.stock }}</p>
                    <p class="product-info"><strong>Created At:</strong> {{ product.created_at }}</p>
                    <p class="product-info"><strong>Last Updated:</strong> {{ product.updated_at }}</p>
                    <button class="add-to-cart-btn btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
